

:root{
    /*below is a taste of css variables*/
    --primaryColor-back: rgba(45,45,45,0.1);
}
@media (max-width: 350px) {
    :root{
        --primaryColor-back: #45678a;
    }
}
body{
    margin: 20px;
    padding: 20px;
    border: 5px dashed steelblue;
    position: relative;
}
h1 {
    color: #1e90ff;
    font-family: Lobster, monospace;
    font-weight: 900;
    font-size: 5rem;
    position: relative;
    left: 10%;
    letter-spacing: 2px;
    
}

#beerLike{
    width: 500px;
    background-color: var(--primaryColor-back, grey);
    padding: 1.5em;
    margin: 20px;
}

[type~='checkbox'] {
    margin: 20px;
}

.smaller-image {
    width: 200px;
}
.orange-border {
    border-color: rgb(255, 165, 0);
    border-width: 5px;    
    border-style: solid;
    width: 500px;
    padding: 20px;
    margin: -15px;
}
.thin-red-border:hover {
    border-color:#000;
    color: rgb(255, 165, 0);
}
.thick-green-border {
    border: 10px solid var(--primaryColor-back, grey);
    border-radius: 50%;
}
.beerAttr {
    width: 500px;
    background-color: var(--primaryColor-back, grey);
    padding: 20px;
    margin: 20px;
}
.beerAttr h2 {
    text-align: center;
    height: 50px;
    font-weight: 800;
}
.beerAttr p {
    text-align: justify;
    font-weight: 200;
    line-height: 25px;
}
.boxShadow{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}